// variables

$primary: #1db954;
$secondary: #151212;

$shade: #13a044;
$white: #fff;
$dark: #100f0f;
$gray: #a5a5a5;

$texts: 12, 21, 24, 36, 48;

// imports
@import './mixin';
@import './anim';
@import './global';
@import './login';
@import './profile';
@import './discover';
@import './playlist';
